<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4">
                    <div class="card-header text-center text-uppercase h2 font-weight-light">
                        <a href="index.html">登陆</a>
                    </div>

                    <div class="card-body py-5">
                        <div class="form-group">
                            <label class="form-control-label">用户名</label>
                            <input type="text" class="form-control" id="username">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">密码</label>
                            <input type="password" class="form-control" id="password">
                        </div>

                        <div id="error" class="text-danger"></div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-primary px-5" id="login">Login</button>
                            </div>

                            <div class="col-6">
                                <a href="register.html" class="btn btn-link">没有账号？注册</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/popper.js/popper.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../vendor/chart.js/chart.min.js"></script>
<script src="../js/carbon.js"></script>
<script src="../js/demo.js"></script>
<script type="text/javascript">
    $("button#login").click(function () {
        var username = $.trim($("#username").val());
        var password = $.trim($("#password").val());
        if (username === "") {
            $("#error").html("请输入用户名")
            return false;
        } else if (password === "") {
            $("#error").html("请输入密码")
            return false;
        }
        //ajax去服务器端校验
        var data = {userName: username, password: password};
        $.ajax({
            type: "POST",
            contentType: 'application/json;charset=utf-8',
            url: "/v0.1/user/login",
            traditional: true,//这使json格式的字符不会被转码
            timeout: 20000,
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function (data) {
               if (data === true) {
                   $(location).prop('href',"/view/index.html");
               } else
                   $("#error").html("密码错误");
            }
        });
    });
</script>
</body>
</html>
